@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #1a1b26;
  color: #c0caf5;
  text-align: center;
  display: flex;
  height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: #00deb7;
}

h2 {
  font-weight: 700;
  color: #e0468c;
}

p {
  font-weight: 400;
  color: #c0caf5;
}

a {
  color: #70a5fd;
  text-decoration: none;
}

a:hover {
  color: #c0caf5;
  text-decoration: underline;
}
.card-grid {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #2a2d3e;
  padding: 10px;
  margin: 40px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-description {
  padding: 0 50px 0 0;
  text-align: left;
  max-width: 60%;
  max-height: 400px;
  overflow: auto;
}

.card-form {
  display: inline-block;
  height: 100%;
}

.card-inputs {
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-inputs input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3a3e4a;
  color: #c0caf5;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-inputs button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61afef;
  color: #1a1b26;
  font-size: 16px;
  max-width: 300px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-output {
  background-color: #3a3e4a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.card-output p {
  margin: 0;
  font-size: 18px;
}

/* Media query for small viewports */
@media screen and (max-width: 767px) {
  body {
    justify-content: unset;
    align-items: unset;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card-description {
    width: 100%;
    margin-bottom: 40px;
  }
}
